<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybsx.dao.mapper.master.ComplaintOrderMapper">
	<resultMap id="BaseResultMap" type="com.ybsx.dao.model.ComplaintOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="CHAR" />
		<result column="room" property="room" jdbcType="VARCHAR" />
		<result column="id_image" property="idImage" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="trail_state" property="trailState" jdbcType="CHAR" />
		<result column="end_reason" property="endReason" jdbcType="CHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, name, mobile, room, id_image, content, trail_state, end_reason, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from complaint_order
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from complaint_order
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ybsx.dao.model.ComplaintOrder">
		insert into complaint_order (id, uid, name,
		mobile, room, id_image,
		content, trail_state, end_reason,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{mobile,jdbcType=CHAR}, #{room,jdbcType=VARCHAR}, #{idImage,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{trailState,jdbcType=CHAR}, #{endReason,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ybsx.dao.model.ComplaintOrder" useGeneratedKeys="true" keyProperty="id">
		insert into complaint_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="room != null">
				room,
			</if>
			<if test="idImage != null">
				id_image,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="trailState != null">
				trail_state,
			</if>
			<if test="endReason != null">
				end_reason,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=CHAR},
			</if>
			<if test="room != null">
				#{room,jdbcType=VARCHAR},
			</if>
			<if test="idImage != null">
				#{idImage,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="trailState != null">
				#{trailState,jdbcType=CHAR},
			</if>
			<if test="endReason != null">
				#{endReason,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ybsx.dao.model.ComplaintOrder">
		update complaint_order
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="room != null">
				room = #{room,jdbcType=VARCHAR},
			</if>
			<if test="idImage != null">
				id_image = #{idImage,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="trailState != null">
				trail_state = #{trailState,jdbcType=CHAR},
			</if>
			<if test="endReason != null">
				end_reason = #{endReason,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ybsx.dao.model.ComplaintOrder">
		update complaint_order
		set uid = #{uid,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=CHAR},
		room = #{room,jdbcType=VARCHAR},
		id_image = #{idImage,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		trail_state = #{trailState,jdbcType=CHAR},
		end_reason = #{endReason,jdbcType=CHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectLast3monthCnt" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM complaint_order
		WHERE     uid = #{uid}
		      AND room = #{room}
		      AND DATE_ADD(create_time, INTERVAL 3 MONTH) > CURDATE()
	</select>
</mapper>